.body{
    margin:  auto;
    display: block;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 10px;
    width: 300px;   
    margin: auto;
}
.box:nth-child(4n+3){
    background-color: red;
}
.box:nth-child(21){
    background-color: blue;
}
.box:nth-child(22){
    background-color: blue;
}
.box:nth-child(24){
    background-color: blue;
}
.box{
    background-color: gray;
}
.button{
    position: absolute;
    width: 1368px;
    height: 350px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    margin-left: 184px;
    align-items: center;
}
.create{
    background: #44D3A8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: none;
    width: 494px;
    height: 92px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-left: 46px;
    margin-right: 46px;
    
}
.button::before{
    content: " ";
    border-top: 2px solid #C4C4C4;
    border-bottom: 2px solid #C4C4C4;;
    width: 200px;
    height: 8px;
}
.button::after{
    content: " ";
    border-top: 2px solid #C4C4C4;
    border-bottom: 2px solid #C4C4C4;;
    width: 200px;
    height: 8px;
}